<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="radio" v-model="picked" value="html" >
    <label >HTML</label>
    <br>
    <input type="radio" v-model="picked" value="js" >
    <label >JavaScript</label>
    <br>
    <input type="radio" v-model="picked" value="css">
    <label >CSS</label>
    <br>
    <p>选择的项是：{{picked}}</p>
</div>
<script src='./vue.js'></script>
<script>

    var app =new Vue({
        el:'#app',
        data:{
            picked:''
        }
    })
</script>
</body>
</html>